body.page-preview
{
padding-top:10px; padding-left:10px;
}
.page-preview .rnr-c-fields,
  .rnr-pagewrapper .page-preview .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-fields
{
margin-bottom:5px;
}
.page-preview .rnr-c-fields,
  .rnr-pagewrapper .page-preview .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-fields
{
min-width: 500px; display:inline-block
}
.page-preview .rnr-cw-fields,
  .rnr-pagewrapper .page-preview .rnr-cw-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-cw-fields
{
text-align: left;
}
.page-preview .rnr-b-viewheader,
  .rnr-pagewrapper .page-preview .rnr-b-viewheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewheader
{
white-space: nowrap;
}
.page-preview .rnr-b-viewheader,
  .rnr-pagewrapper .page-preview .rnr-b-viewheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewheader
{
text-align: left;
}
.page-preview .rnr-b-viewheader > *,
  .rnr-pagewrapper .page-preview .rnr-b-viewheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewheader > *
{
font-size: 120%;
}
.page-preview .rnr-b-viewfields_simple,
  .rnr-pagewrapper .page-preview .rnr-b-viewfields_simple,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewfields_simple
{
white-space: normal;
}
.page-preview .rnr-b-viewfields_simple,
  .rnr-pagewrapper .page-preview .rnr-b-viewfields_simple,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewfields_simple
{
text-align: left;
}
.page-preview .rnr-b-viewfields_simple > *,
  .rnr-pagewrapper .page-preview .rnr-b-viewfields_simple > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewfields_simple > *
{

}
.page-preview .rnr-b-viewbuttons,
  .rnr-pagewrapper .page-preview .rnr-b-viewbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewbuttons
{
white-space: nowrap;
}
.page-preview .rnr-b-viewbuttons,
  .rnr-pagewrapper .page-preview .rnr-b-viewbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewbuttons
{
text-align: left;
}
.page-preview .rnr-b-viewbuttons > *,
  .rnr-pagewrapper .page-preview .rnr-b-viewbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewbuttons > *
{

}
.page-preview .rnr-c-details,
  .rnr-pagewrapper .page-preview .rnr-c-details,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-details
{
margin-bottom:5px;
}
.page-preview .rnr-b-viewdetails,
  .rnr-pagewrapper .page-preview .rnr-b-viewdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewdetails
{
white-space: nowrap;
}
.page-preview .rnr-b-viewdetails,
  .rnr-pagewrapper .page-preview .rnr-b-viewdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewdetails
{
text-align: left;
}
.page-preview .rnr-b-viewdetails > *,
  .rnr-pagewrapper .page-preview .rnr-b-viewdetails > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewdetails > *
{

}
body.page-preview .rnr-center
{
padding-right: 5px;
}
.page-preview .rnr-c-menu,
  .rnr-pagewrapper .page-preview .rnr-c-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-menu
{
margin-bottom:5px;
}
.page-preview .rnr-c-menu,
  .rnr-pagewrapper .page-preview .rnr-c-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-menu
{
min-width: 100px;
}
.page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu
{
white-space: nowrap;
}
.page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu
{
text-align: left;
}
.page-preview .rnr-b-vmenu > *,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu > *
{

}
body.page-preview  > * > * > .rnr-left
{
min-width:260px;
}
body.page-preview .rnr-left
{
padding-right: 5px;
}
.page-preview .rnr-c-pdf,
  .rnr-pagewrapper .page-preview .rnr-c-pdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-pdf
{
margin-bottom:5px;
}
.page-preview .rnr-b-viewpdf,
  .rnr-pagewrapper .page-preview .rnr-b-viewpdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewpdf
{
white-space: nowrap;
}
.page-preview .rnr-b-viewpdf,
  .rnr-pagewrapper .page-preview .rnr-b-viewpdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewpdf
{
text-align: left;
}
.page-preview .rnr-b-viewpdf > *,
  .rnr-pagewrapper .page-preview .rnr-b-viewpdf > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewpdf > *
{

}
body.page-preview .rnr-top
{
padding-right: 5px;
}
body.page-preview  > * > * > .rnr-left
{
width: 32%;
}
